@{Layout = null;}

<div style="position: absolute; top: 50%; left: 0; right: 0;">
    @(Html.ActionLink("Meus Artigos", "*", "*", new { @id="lnkMyArticles"}))
</div>

<script>
    $(document).ready(function () {
        $('#lnkMyArticles').click(function (e) {
            e.preventDefault();

            $('#divContent').load('@Url.Action("GetMainArtigos", "Artigo")', { idUsuario: idUsuarioLogado });
            $('#divLeftContent').load('@Url.Action("GetLeftDivArtigos","Artigo")', { idUsuario: idUsuarioLogado });
        });
    });
</script>