@using Kendo.Mvc.UI
@{
    CoeusProject.Models.Usuario loggedInUser = CoeusProject.Facade.AccountFacade.GetLoggedInUser();
    
    if (loggedInUser == null)
    {
        Response.Redirect(Url.Action("Login", "Account"));
    }
    
    ViewBag.Title = loggedInUser.NmPessoa;
}

@if (loggedInUser != null)
{
    @Html.Partial("_LeftPartial", loggedInUser)
    <div style="position: absolute; top: 0; bottom: 0; left: 205px; right: 225px" id="divContent">
        @Html.Action("FeedContent","Home")
    </div>
    @Html.Partial("_RightPartial", loggedInUser)
}

<script>
    var idUsuarioLogado = @loggedInUser.IdUsuario;
</script>