@using Kendo.Mvc.UI

@{
    CoeusProject.Models.Usuario loggedInUser = CoeusProject.Facade.AccountFacade.GetLoggedInUser();

    try
    {
        if (loggedInUser == null)
        {
            Response.Redirect(Url.Action("Login", "Account"));
        }

        ViewBag.Title = loggedInUser.NmPessoa;
    }
    catch { }
}

<script>
    var idUsuarioLogado = @((loggedInUser == null || loggedInUser.IdUsuario == 0) ? 0 : loggedInUser.IdUsuario);

    function bindLeftPartial(url, data, callBack){
        $('#divLeftContent').html('');
        $('#divLeftContent').load(url, data, callBack);
    }

    function bindCenterPartial(url, data, callBack){
        $('#divContent').html('');
        $('#divContent').load(url, data, callBack);
    }

    function bindRightPartial(url, data, callBack){

    }
</script>

@if (loggedInUser != null)
{
    <div>

    </div>
    
    @Html.Partial("_LeftPartial", loggedInUser)
    <div style="position: absolute; top: 0; bottom: 0; left: 205px; right: 225px" id="divContent">
        @Html.Action("FeedContent", "Home")
    </div>
    @Html.Partial("_RightPartial", loggedInUser)
}