@model int
@using Kendo.Mvc.UI
@{Layout = null;}

<script>
    function gridArtigos_Data() {
        return { idUsuario: '@Model' };
    }

    function gridMainArtigos_Remove(e) {
        setTimeout(function () {
            $('#gridArtigos').data('kendoGrid').dataSource.read();
        }, 1000);
    }
</script>

<div style="margin-top: 45px">
    @(Html.Kendo().Grid<CoeusProject.Models.Artigo>()
        .Name("gridMainArtigos")
            .DataSource(dt =>
                dt.Ajax().Read(r => r.Action("AjaxReadArtigos", "Artigo").Data("gridArtigos_Data"))
                .Model(model => model.Id("IdArtigo"))
                .Destroy("Delete", "Artigo")
            )
        .Selectable(select => select.Mode(GridSelectionMode.Single))
        .Columns(c =>
        {
            c.Bound(m => m.Objeto.NmObjeto).Title("Artigos de " + (new CoeusProject.Models.CoeusProjectContext().Usuarios.Where(u => u.IdUsuario == Model)
                .FirstOrDefault().Decrypt().NmPessoa));
            c.Bound(m => m.Objeto.QtAcessos).Title("Quantidade de Acessos").Width(50).HeaderHtmlAttributes(new { @style="font-size: 10pt"});
            c.Bound(m => m.Objeto.VlMediaAvaliacaoCalc).Title("Avaliação Média").Width(50).HeaderHtmlAttributes(new { @style = "font-size: 10pt" });
            c.Command(command => command.Destroy().Text(" ")).Width(20);
        })
        .Editable(e => e.DisplayDeleteConfirmation(false))
        .Events(e => e.Remove("gridMainArtigos_Remove"))
    )
</div>

<script>
    $(document).ready(function () {
        $("#gridMainArtigos").on("dblclick", "tr.k-state-selected", function () {
            var grid = $("#gridMainArtigos").data("kendoGrid");
            var selectedItem = grid.dataItem(grid.select());
            EditArtigo(selectedItem.IdArtigo);
        });
    })
</script>