@using CoeusProject.Models
@using Kendo.Mvc.UI
@{Layout = null;}
@model IEnumerable<Usuario>

<div style="margin-top: 45px">
    @(Html.Kendo().Grid(Model).Name("followGrid")
        .Selectable(s => s.Mode(GridSelectionMode.Single))
        .Columns(c =>
        {
            c.Bound(m => m.NmFoto).Title(" ").ClientTemplate("<img src='User_Data/#=NmFoto#'/>").Width(35);
            c.Bound(m => m.NmPessoa).Title("Nome do usuário");
        })
        .DataSource(d => d.Custom())
    )
</div>

<script>
    $(document).ready(function () {
        $("#followGrid").on("dblclick", "tr.k-state-selected", function () {
            var grid = $("#followGrid").data("kendoGrid");
            var selectedItem = grid.dataItem(grid.select());
            var idUsuarioFollow = selectedItem.IdUsuario;

            var kendoWaitWindow = kendoWait();
            var loaded = false;

            bindCenterPartial('@Url.Action("GetMainArtigos", "Artigo")', { idUsuario: idUsuarioFollow }, function () {
                if (loaded) {
                    kendoWaitWindow.close();
                }
                loaded = true;
            });

            bindLeftPartial('@Url.Action("GetLeftDivArtigos","Artigo")', { idUsuario: idUsuarioFollow }, function () {
                if (loaded) {
                    kendoWaitWindow.close();
                }
                loaded = true;
            });
        });
    })
</script>