@model int
@using Kendo.Mvc.UI
@{
    Layout = null;
}

<style>
    .showUser {
        float: left;
        width: 220px;
        height: 80px;
        margin: 0;
        padding: 5px;
        cursor: pointer;
    }

        .showUser img {
            float: left;
            width: 80px;
            height: 80px;
        }

        .showUser h3 {
            margin: 0;
            padding: 5px 0 0 5px;
            font-size: .9em;
            overflow: hidden;
            font-weight: normal;
            float: left;
            max-width: 100px;
        }

    .searchUser {
        display: inline-block;
        height: 80px;
    }

        .searchUser > img {
            float: left;
            width: 80px;
        }

        .searchUser > span {
            display: inline-block;
        }
</style>

<script type="text/x-kendo-tmpl" id="tmplUser">
    <div class="showUser" data-id="#=IdUsuario#">
        <img src="/User_Data/#=NmFoto#" alt="#=NmPessoa# image" />
        <h3>#=NmPessoa#</h3>
        <button type="button" class="k-button"
                style="float: right; margin: 0; padding: 0 3px 0 3px; font-size: 8pt; font-weight: bold"
                onclick="btnRemoveUser_Click()">X</button>
    </div>
</script>

<script type="text/x-kendo-tmpl" id="tmplSearchUser">
    <div class="searchUser">
        <span class='k-state-default'>
            <img src='/User_Data/#=NmFoto#' alt='#=NmPessoa#' />
        </span>
        <span class='k-state-default'>
            <h3>#=NmPessoa#</h3>
            <p>#=TxEmail#</p>
        </span>
    </div>
</script>

<script>
    var lstSelectedUsers = [];

    $(document).ready(function () {
        var idGrupo = '@Model';
        if (idGrupo && parseInt(idGrupo)) {
            $.ajax({
                url: '@Url.Action("GetGrupoUsuariosList","Grupo")',
                type: 'POST',
                data: { IdGrupo: idGrupo },
                success: function (data) {
                    lstSelectedUsers = data;
                    BindLstUsers();
                }
            });
        }
    });

    function lstFindUsers_Change(e) {
        var a = e;
        var b = a;
    }

    function cmbNmPessoa_AdditionalData(e) {
        return {
            nmPessoa: $('#cmbNmPessoa').data('kendoComboBox').text()
        };
    }

    function cmbNmPessoa_Select(e) {
        var dataItem = this.dataItem(e.item.index());
        lstSelectedUsers.push({
            IdUsuario: dataItem.IdUsuario,
            NmPessoa: dataItem.NmPessoa,
            NmFoto: dataItem.NmFoto
        });
        
        BindLstUsers();
    }

    function BindLstUsers() {
        var dataSource = new kendo.data.DataSource({data: lstSelectedUsers});
        $('#lstUsers').data('kendoListView').setDataSource(dataSource);
    }

    function btnRemoveUser_Click() {
        var selectedUser = $('#lstUsers').data('kendoListView').select();
        lstSelectedUsers = $.grep(lstSelectedUsers, function (user, index) {
            return user.IdUsuario != selectedUser.data('id');
        });
        BindLstUsers();
    }
</script>

@(Html.Kendo().ComboBox().Name("cmbNmPessoa")
    .DataTextField("NmPessoa")
    .DataValueField("IdPessoa")
    .TemplateId("tmplSearchUser")
    .Suggest(true)
    .MinLength(2)
    .Height(400)
    .DataSource(ds => ds.Read(read => read.Action("GetUserWhereNmPessoaStartsWith", "Grupo")
        .Data("cmbNmPessoa_AdditionalData")).ServerFiltering(true))
    .Filter(FilterType.StartsWith)
    .AutoBind(false)
    .Events(e => e.Select("cmbNmPessoa_Select"))
    .HtmlAttributes(new { @placeholder = "Buscar por nome ou e-mail", @style = "width: 90%" })
)

Pessoas No Grupo
<div id="divGrupoUsuarios" style="height: 178px; width: 500px; overflow: auto">
    @(Html.Kendo().ListView(new List<dynamic>()).Name("lstUsers")
        .ClientTemplateId("tmplUser")
        .TagName("div")
        .DataSource(ds => ds.Custom())
        .Selectable(select => select.Mode(ListViewSelectionMode.Single))
    )
</div>